body {
    margin: 0;
    padding: 0;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'MedievalSharp', cursive;
    /* font-family: 'Righteous', cursive; */
}

header {
    width: 100%;
    background-image: url(assets/capa_menu.jpg);
    background-size: cover;
    background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
    height: 18rem;
    color: white;
    text-align: center;
}
nav  {
    width: 100%;
}
ul {
	padding: 1rem;
	display: flex;
	align-items: center;
	color: #fff;
    justify-content: space-around;
    margin: 0;
    gap: 1rem;
}
li {
	list-style: none;
    background: darkgreen;
    text-align: center;
}
h1 {
    margin: 0;
}
h2 {
    margin: 0;
}
img {
    width: 100%;
}
.nav-item {
    cursor: pointer;
}
.logo {
    width: 3.5rem;
    align-self: center;
    margin-top: 1.5rem;
}

.logo-image {
    width: 100%;
    border-radius: 50%
}
.title-principal {
    text-align: center;
    font-family: 'Righteous', cursive;
    margin: 1rem;
}
.subtitle{
    padding: 1rem;
}
.about {
    background-color: #b5a26d;
    font-family: 'Comfortaa', cursive;
    padding: 1.5rem;
}
.text-about > h2 {
    font-size: 1rem;
}
.text-about > p {
    font-size: 0.8rem;
}
#section {
    background-color: #e4e4e4;
    text-align: center;
    padding: 2rem;
}
#desserts {
    background-color: #404a4b;
    padding: 2rem;
    color: white;
}
.principal-item {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 1rem;
}
.principal-item-image {
    width: 7rem;
    border-radius: 50%;
    margin-top: 1rem;
}
.principal-img {
    border-radius: 50%
}
.principal-item-details {
    width: fit-content;
    padding: 1rem;
}
.principal-item-price {
}
.principal-item-description {
    font-family: 'Comfortaa', cursive;

}
/* Mobile */
@media screen and (min-width: 480px){
    .logo {
        margin-top: 2.5rem;
    }
    .title-principal {
      }
      .text-about {
        text-align: center;
      }
}
/* Tablet */
@media screen and (min-width: 768px){
    header {
        height: 26rem;
    }

    li {
        font-size:1.5em;
    }
    .logo {
        width: 4rem;
        margin-top: 3rem;
    }
    .title-principal {
        font-size: 1.5rem;
        margin: 3rem;
    }
    #principais {
        display: flex;
        flex-wrap: wrap;
    }
    #desserts {
        display: flex;
        flex-wrap: wrap;
    }
    .principal-item {
        display: flex;
        width: 45%;
        align-items: center;
        padding: 1rem;
    }
}
 /* Desktop */
@media screen and (min-width: 992px){
    ul{
        width: 60%;
    }
    nav  {
        text-align: -webkit-right;
    }
    .title-principal {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.5rem;
    }
}
 /* Huge */
@media screen and (min-width: 1280px){
    header {
        height: 30rem;
    }
    ul{
        width: 50%;
    }
    .logo{
        width: 5rem;
        margin-top: 4rem;
    }
    .title-principal {
        font-size: 3rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}